* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    background-color: #d7ecfb;
    font-family: 'Jost', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./bg_login.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container {
    max-width: 500px;
    margin: 60px auto;
    padding: 40px 30px;
    background: linear-gradient(to right, #dfb6b2, #522959);
    padding: 30px 30px;
    border-radius: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .container:hover {
    transform: scale(1.03);
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.15);
  }
  
  .logo {
  width: 250px;
  height: 200px;
}
  .description {
    font-size: 16px;
    color: #180018;
    opacity: 0.8;
    margin-bottom: 30px;
    margin-top: -50px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  input {
    padding: 12px 16px;
    font-size: 15px;
    border: 1px solid #b4d3ee;
    border-radius: 8px;
    outline: none;
    background-color: #ffffff;
    color: #180018;
    transition: box-shadow 0.3s ease;
  }
  
  input:focus {
    box-shadow: 0 0 0 3px #fae5d8;
  }
  
  input::placeholder {
    color: #180018;
    opacity: 0.7;
  }
  
  .signup-btn {
    padding: 12px 16px;
    font-size: 15px;
    font-weight: bold;
    background-color: #180018;
    color: #fae5d8;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signup-btn:hover {
    background-color: #fae5d8;
    color: #180018;
  }